{% extends "base.html" %}


{% block conteudo %}


<h2>Painel Inicial</h2>


<p>Bem-vindo ao Sistema de Biblioteca Escolar.</p>


<div class="painel">


    <div class="card">
        <h3>Alunos</h3>
        <p>{{ total_alunos }}</p>
    </div>


    <div class="card">
        <h3>Livros</h3>
        <p>{{ total_livros }}</p>
    </div>


    <div class="card">
        <h3>Disponíveis</h3>
        <p>{{ total_disponiveis }}</p>
    </div>


    <div class="card">
        <h3>Emprestados</h3>
        <p>{{ total_emprestimos }}</p>
    </div>


</div>


<h3>Acesso rápido</h3>


<ul>
    <li><a href="/alunos">Gerenciar alunos</a></li>
    <li><a href="/livros">Gerenciar livros</a></li>
    <li><a href="/bibliotecarios">Gerenciar bibliotecários</a></li>
    <li><a href="/emprestimos">Gerenciar empréstimos</a></li>
</ul>


{% endblock %}
